{% extends "base.html.twig" %}
{% block title %}{% trans %} Home {% endtrans %} | {{parent()}}{% endblock %}
{% block content %}

            <section class="section section-no-border section-angled bg-color-light-scale-1 m-0">
					<div class="section-angled-layer-top section-angled-layer-increase-angle" style="padding: 5rem 0; background-color: #676664;"></div>
					<div class="container py-5 my-5">
						<div class="row align-items-center text-center my-5">
							<div class="col-md-6">
								<h2 class="font-weight-bold text-9 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">{% trans %}New Technologies for the Mining Industry{% endtrans %}</h2>
								<p class="font-weight-semibold text-primary text-4 fonts-weight-semibold positive-ls-2 mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="750">{% trans %}Introducing The First Event Of The Year{% endtrans %}</p>
								<p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" data-appear-animation-duration="750">{% trans %}STG Mining Mexico, held its first event of the year that includes the demostration of cutting-edge equipment and technologies that are currently being developed in the market.{% endtrans %}</p>
                                <p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" data-appear-animation-duration="750">{% trans %}It was attended by internationally recognized specialists, who will allow your company to stay up to date.{% endtrans %}</p>
								
                                <a class="btn-modern btn-gradient btn-rounded btn-px-5 py-3 text-3 mb-4 appear-animation" href="{{ asset('/pdf/Presentación UNIPOLI 2022.pdf') }}" download="Presentation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000" data-appear-animation-duration="750" download="presentation">{% trans %}WE ARE HERE FOR YOU{% endtrans %}</a>
							</div>
                            

                                <div class="col-lg-4 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
									<iframe  src="https://players.brightcove.net/6300965070001/vk0xwCrXO_default/index.html?playlistId=1727573581497323680" width="640" height="360" allowfullscreen></iframe>
                                </div>
            
							
						</div>
					</div>
				</section>
                            {# <center>

                              <article class="post post-large">
									<div class="post-image">
										<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
											<div class="row mx-0">
												
                                                <div class="col-6 col-md-4 p-0">
														<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
															<span class="thumb-info-wrapper">
																<img src="{{ asset('img/community/photo1.jpg') }}" class="img-fluid" />
															</span>
														</span>
												</div>

												<div class="col-6 col-md-4 p-0">
														<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
															<span class="thumb-info-wrapper">
																<img src="{{ asset('img/community/photo2.jpg') }}" class="img-fluid"/>
															</span>
														</span>
												</div>

												<div class="col-6 col-md-4 p-0">
														<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
															<span class="thumb-info-wrapper">
																<img src="{{ asset('img/community/photo3.jpg') }}" class="img-fluid"/>
															</span>
														</span>
												</div>
                                                
												<div class="col-6 col-md-4 p-0">
														<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
															<span class="thumb-info-wrapper">
																<img src="{{ asset('img/community/photo4.jpg') }}" class="img-fluid"/>
															</span>
														</span>
												</div>

												<div class="col-6 col-md-4 p-0">
														<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
															<span class="thumb-info-wrapper">
																<img src="{{ asset('img/community/photo5.jpg') }}" class="img-fluid"/>
															</span>
														</span>
												</div>
												<div class="col-6 col-md-4 p-0">
														<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
															<span class="thumb-info-wrapper">
																<img src="{{ asset('img/community/photo6.jpg') }}" class="img-fluid"/>
															</span>
														</span>
												</div>
											</div>
										</div>
									</div>
								</article>
                            </center> #}


			<section class="section section-with-shape-divider border-0 m-0">
					<div class="shape-divider shape-divider-reverse-x" style="height: 120px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
							<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "/>
						</svg>
					</div>
					<div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 120px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
							<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "/>
						</svg>
					</div>
					
			</section>

			{# Sección Congreso Minero #}

			<section class="section section-no-border section-angled bg-color-light-scale-1 m-0">
					<div class="section-angled-layer-top section-angled-layer-increase-angle" style="padding: 5rem 0; background-color: #676664;"></div>
					<div class="container py-5 my-5">
						<div class="row align-items-center text-center my-5">
							<div class="col-md-6">
								<h2 class="font-weight-bold text-9 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">{% trans %}See you at the VII Mining Congress at Durango, Mexico{% endtrans %}</h2>
								<p class="font-weight-semibold text-primary text-4 fonts-weight-semibold positive-ls-2 mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="750">{% trans %}VII Mining Congress and 6th Minerals Fair {% endtrans %}</p>
								<p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" data-appear-animation-duration="750">{% trans %}STG Mining Mexico, will be present at the Mining Expo of the VII Mining Congress and 6th Minerals, Rocks and Fossils Fair.{% endtrans %}</p>
                                <p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" data-appear-animation-duration="750">{% trans %}It will be held in a safe and orderly manner, guaranteeing success for all participants and guests at this great event.{% endtrans %}</p>
								
                                <a class="btn-modern btn-gradient btn-rounded btn-px-5 py-3 text-3 mb-4 appear-animation" href="{{ asset('/pdf/Presentación UNIPOLI 2022.pdf') }}" download="Presentation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000" data-appear-animation-duration="750" download="presentation">{% trans %}WE ARE HERE FOR YOU{% endtrans %}</a>
							</div>
                            

                                <div class="col-lg-4 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
									<iframe  src="{{ asset('img/banner-blog.png') }}" width="640" height="360" allowfullscreen></iframe>
                                </div>
            
							
						</div>
					</div>
				</section>
{% endblock %}