<!DOCTYPE html>
<html>
{% block head %}
<html class="no-js skrollr skrollr-desktop" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block title %}STG Mining Supplies{% endblock %}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="ThemeZaa">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="Elevate your online presence with Crafto - a modern, versatile, multipurpose Bootstrap 5 responsive HTML5, SCSS template using highly creative 52+ ready demos.">

<link rel="shortcut icon" href="/images/ico.png">

<!--<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin="">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">-->

<link rel="stylesheet" href="/files/vendors.min.css">
<link rel="stylesheet" href="/files/icon.min.css">
<link rel="stylesheet" href="/files/style.min.css">
<link rel="stylesheet" href="/files/responsive.min.css">
<link rel="stylesheet" href="/files/logistics.css">
<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></head>
<body data-mobile-nav-style="classic">
{% endblock %}
	
<header class="header-with-topbar">
<div class="header-top-bar top-bar-dark bg-dark" style="top: 0px;">
<div class="container-fluid">
<div class="row h-45px align-items-center m-0">
<div class="col-12 col-lg-7 fw-500 justify-content-lg-start justify-content-center">
<span class="me-25px fs-15 md-m-0">
<i class="feather icon-feather-phone-call text-base-color me-10px"></i><span class="text-light-gray">{% trans %} Phone Number: {% endtrans %} 1-604-770-4204</span>
</span>
<span class="d-xl-inline-block d-none fs-15"><i class="feather icon-feather-mail text-base-color me-10px"></i><span class="text-light-gray">Email: </span><a href="mailto:info@stgmining.com" class="widget text-light-gray text-white-hover">info@stgmining.com</a></span>
</div>
</div>
</div>
</div>
<nav class="navbar navbar-expand-lg header-light bg-white header-reverse" data-header-hover="light" style="top: 45px;">
<div class="container-fluid">
<div class="col-auto">
<a class="navbar-brand" href="{{ path('index') }}">
<img src="/images/logo1.png" data-at2x="images/logo.png" alt="" class="default-logo">
<img src="/images/logo1.png" data-at2x="images/logo.png" alt="" class="alt-logo">
<img src="/images/logo1.png" data-at2x="images/logo.png" alt="" class="mobile-logo">
</a>
</div>
<div class="col-auto menu-order left-nav">
<button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
<span class="navbar-toggler-line"></span>
<span class="navbar-toggler-line"></span>
<span class="navbar-toggler-line"></span>
<span class="navbar-toggler-line"></span>
</button>
<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item active"><a href="{{ path('index') }}" class="nav-link">{% trans %}Home{% endtrans %}</a></li>
<li class="nav-item dropdown dropdown-with-icon-style02"><a href="about-us" class="nav-link">{% trans %} About us {% endtrans %}</a>
<i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
<li><a href="{{ path('quality-policy') }}"><i><img src="/images/calidad.png" style = "height: 25px;width: 25px;"></i>{% trans %} Quality Policy {% endtrans %}</a></li>
</ul>
</li>
<li class="nav-item dropdown dropdown-with-icon-style02"><a href="products" class="nav-link">{% trans %} Products {% endtrans %}</a>
<i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
<li><a href="{{ path('sample-prep') }}"><i><img src="/images/tubo.png" style = "height: 30px;width: 30px;"></i>{% trans %} Sample Preparation {% endtrans %}</a></li>
<li><a href="{{ path('fire-assay') }}"><i><img src="/images/fuego.png" style = "height: 30px;width: 30px;"></i>{% trans %} Fire Assay Products {% endtrans %}</a></li>
<li><a href="{{ path('reference-materials') }}"><i><img src="/images/jar.png" style = "height: 30px;width: 30px;"></i>{% trans %} Reference Materials {% endtrans %}</a></li>
</ul>
</li>
<li class="nav-item"><a href="{{ path('partners') }}" class="nav-link">{% trans %} Partners {% endtrans %}</a></li>
<li class="nav-item"><a href="{{ path('services') }}" class="nav-link">{% trans %} Services {% endtrans %}</a></li>
<li class="nav-item"><a href="{{ path('contact-us') }}" class="nav-link">{% trans %} Contact Us {% endtrans %}</a></li>
</ul>
</div>
</div>
<div class="col-auto ms-auto ps-lg-0 d-none d-sm-flex">
<ul class="navbar-nav">
<li class="nav-item dropdown dropdown-with-icon-style02"><a href="#" class="nav-link">{% trans %} EN {% endtrans %}</a>
<i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
<li><a href="{{ path(app.request.attributes.get('_route'), {_locale:'es'}) }}">{% trans %} Spanish {% endtrans %}</a></li>
<li><a href="{{ path(app.request.attributes.get('_route'), {_locale:'en'}) }}">{% trans %} English {% endtrans %}</a></li>
</ul>
</ul>
</li>
<div class="header-icon">
<div class="header-button ms-25px">
<a href="cotizar.html.twig" class="btn btn-small btn-base-color btn-hover-animation-switch btn-round-edge btn-box-shadow fw-700 ls-0px btn-icon-left">
<span>
<span class="btn-text">{% trans %} Contact us {% endtrans %}</span>
<span class="btn-icon"><i class="feather icon-feather-mail"></i></span>
<span class="btn-icon"><i class="feather icon-feather-mail"></i></span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</nav>
</header>
{% block content %}
            
{% endblock %}
<section class="bg-base-color pb-35px pt-35px">
<div class="container position-relative">
<div class="row align-items-center justify-content-center">
<div class="col-xl-8 col-lg-9 col-md-11 icon-with-text-style-08 md-mb-20px">
<div class="feature-box feature-box-left-icon-middle overflow-hidden">
<div class="feature-box-icon feature-box-icon-rounded w-90px h-90px lg-w-75px lg-h-75px sm-w-65px sm-h-65px rounded-circle bg-white me-20px">
<img src="/files/demo-logistics-home-icon-04.webp" class="w-50px h-50px lg-w-35px lg-h-35px" alt="" data-no-retina="">
</div>
<div class="feature-box-content last-paragraph-no-margin">
<h3 class="d-inline-block fw-700 text-dark-gray mb-5px ls-minus-1px">Help customers on live chat.</h3>
<p class="fs-19 text-dark-gray opacity-8 fw-500">Trusted by over 30,000 worldwide customers since 2024.</p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-3 text-center text-lg-end">
<a href="https://craftohtml.themezaa.com/demo-logistics.html#"><img src="/files/demo-logistics-home-10.jpg" alt="" data-no-retina=""></a>
</div>
</div>
</div>
</section>
<footer class="fs-17 footer-dark p-0 bg-dark-gray">
<div class="container">
<div class="row justify-content-center pt-6 sm-pt-40px text-sm-start text-center">

<div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 md-mb-30px">
<a href="https://craftohtml.themezaa.com/demo-logistics.html" class="footer-logo mb-20px d-inline-block">
<img src="/images/stg_logo_t.png" data-at2x="/images/stg_logo_t.png" alt="">
</a>
</div>

<div class="col-lg-3 col-md-4 col-sm-5 offset-md-0 offset-sm-1 order-5 order-md-3 xs-mb-30px">
<span class="fs-18 d-block text-white fw-500 mb-10px">{% trans %} CONTACT {% endtrans %}</span>
<span class="d-block">#115-1647</span>
<span class="d-block">Broadway Street</span>
<span class="d-block">Port Coquitlam, BC</span>
<span class="d-block">V3C 6P8</span>
<span class="d-block">Canada</span>
<a href="mailto:info@stgmining.com" class="d-sm-inline-block d-block">info@stgmining.com</a>
</div>

</div>
<div class="row justify-content-center align-items-center pt-5 md-pt-30px">
<div class="col-12">
<div class="divider-style-03 divider-style-03-01 border-color-transparent-white-light"></div>
</div>
<div class="col-lg-9 pt-25px pb-25px fs-15 last-paragraph-no-margin text-center order-2 order-sm-1"><p>STG Mining © 2024. All Rights Reserved.</p></div>
</div>
</div>
</footer>

<div class="scroll-progress d-none d-xxl-block">
<a href="https://craftohtml.themezaa.com/demo-logistics.html#" class="scroll-top" aria-label="scroll">
<span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point" style="height: 0%;"></span></span>
</a>
</div>

<script type="text/javascript" src="/files/jquery.js"></script>
<script type="text/javascript" src="/files/vendors.min.js"></script>
<script type="text/javascript" src="/files/main.js"></script>

</body>
</html>
